*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    /* flex-direction: column; */
    align-items: center;

    justify-content: center;
    height: 100vh;

    background-color: rgb(159, 205, 245);

}
.outerDiv{
    width:35%;
    min-width: 300px;
    height: 70%;
    border: 2px grey solid;
    border-radius: 20px;

    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: rgb(241, 186, 123);
}

.outerDiv button{
    width:100%;
    padding: 1rem;
    background-color: rgb(233, 229, 229);
    border:2px solid white;
    font-size: 1.3rem;
    border-radius: 10px;
}

.outerDiv button:hover{
    background-color: rgb(180, 164, 164);
    font-weight: bold;
    
}